[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/prb-test"]
	branch = release-v0
	path = lib/prb-test
	url = https://github.com/PaulRBerg/prb-test
[submodule "lib/prb-math"]
	path = lib/prb-math
	url = https://github.com/PaulRBerg/prb-math
	branch = release-v4
[submodule "lib/contract-libs"]
	path = lib/contract-libs
	url = https://github.com/axieinfinity/contract-libs
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/foundry-deployment-kit"]
	path = lib/foundry-deployment-kit
	url = https://github.com/axieinfinity/foundry-deployment-kit
	branch = v0.2.0
[submodule "lib/storage-delta"]
	path = lib/storage-delta
	url = https://github.com/TuDo1403/storage-delta
