artifacts/
cache/
node_modules/
src/types/
src/web3-types/
dist/
yarn-error.log
.env
.idea

refs/
.vscode
remix-compiler.config.js
.npmrc
.yarn
.yarnrc.yml
logs/storage_layout_table.log
cache_foundry
out
.DS_Store

dry-run/
script/data/*
*.env
logs/temp.log
deployments/**/exported_address
config/config.json
config/config.yaml
dependencies
deployments/ronin-mainnet-shadow
bin/ronin-random-beacon