{
    "database_url": "postgresql://postgres:postgres@localhost/postgres?sslmode=disable",
    "private_key": "0xeb091aabee74e68b8e871fcecda43ff3d0a459d71f342a649c965207635182ad",
    "verbosity": 5,
    "rpc_endpoint": "http://localhost:8545",
    "chain_id": 31337,
    "secret_key": "0xe15e207d646aaa7e940e723824a897190a52235035d5de5166ff78888c747af1",
    "coordinator_address": "0xC45e251E5Ce67baC5dEE4891351764f02e474d64",
    "coordinator_starting_block": 0,
    "tracker_safe_block_range": 0,
    "tracker_block_size": 100
}